<h2>Library Books</h2>
<form class="form-horizontal" ng-submit="booksIndexCtrl.createBook()">
  <fieldset>

  <!-- Form Name -->
    <legend>Add New Book</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Book Title</label>
      <div class="col-md-4">
      <input ng-model="booksIndexCtrl.newBook.title" type="text" class="form-control input-md" required="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Book Author</label>
      <div class="col-md-4">
      <input ng-model="booksIndexCtrl.newBook.author" type="text" class="form-control input-md" required="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Book Image</label>
      <div class="col-md-4">
      <input ng-model="booksIndexCtrl.newBook.image" type="text" class="form-control input-md" placeholder="image url" required="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Release Date</label>
      <div class="col-md-4">
      <input ng-model="booksIndexCtrl.newBook.releaseDate" type="text" class="form-control input-md" required="">
      </div>
    </div>
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label">Save Book</label>
      <div class="col-md-4">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
<input type="text" class="form-control" ng-model="searchText" placeholder="Search Books">
<div ng-repeat="book in booksIndexCtrl.books | orderBy: 'title' | filter: searchText">
  <br>
  <div class="row">
    <div class="col-md-3 col-xs-4">
      <img class="img-responsive" ng-src={{book.image}} alt="Book image">
    </div>
    <div class="col-md-6 col-xs-12">
          <h5><a ng-href="/books/{{book._id}}">{{book.title}}</a></h5>
          <p class="small">Written by: {{book.author}}</p>
          <p class="small">Released: {{book.releaseDate}}</p>
    </div>
</div>
</div>
