<h2>Library Books</h2>
<input type="text" class="form-control" ng-model="searchText" placeholder="Search Books">
<div ng-repeat="book in booksIndexCtrl.books | orderBy: 'title' | filter: searchText">
  <div class="row">
    <div class="col-md-3 col-xs-12 thumbnail">
<img class="img-responsive col-m-4" ng-src={{book.image}} alt="Book image">    </div>
    <div class="col-md-6 col-xs-12 thumbnail">
      <ul>
        <li class="list-group-item">
          <span><a ng-href="/books/{{book._id}}"><h1>{{book.title}}</h1></span></a>
          </li>
        <li class="list-group-item">
          <span>Written by: {{book.author}}</span>
          </li>
        <li class="list-group-item">
          Released: {{book.releaseDate}}</li>
      </ul>
    </div>
</div>
</div>
