<h2>{{booksShowCtrl.book.title}}</h2>
<hr>
	<!-- Here, add the display of the book info,
       the buttons for editing or deleting,
       the form and buttons that will show if you
       click edit. Don't forget that all of those
       buttons and forms will need some angular
       functionality! -->
     <div class="row">
       <div class="col-md-3 col-xs-12 thumbnail">
         <img src="{{booksShowCtrl.book.image}}" alt="book image">
       </div>
       <div class="col-md-6 col-xs-12 thumbnail">
         <ul>
           <li class="list-group-item">
             <span >Author: {{booksShowCtrl.book.author}}</span>
             </li>
           <li class="list-group-item">
             <span >Release Date: {{booksShowCtrl.book.releaseDate}}</li></span>

         </ul>
         <button class="btn btn btn-default" ng-click="editing = true" >edit</button>
         <button class="btn btn-default" ng-click="booksShowCtrl.deleteBook(book)">delete</button>
         <p><input  ng-show="editing" ng-model="booksShowCtrl.book.title"></p>
         <p><input  ng-show="editing" ng-model="booksShowCtrl.book.author"></p>
         <p><input  ng-show="editing" ng-model="booksShowCtrl.book.image"></p>
         <p><input  ng-show="editing" ng-model="booksShowCtrl.book.releaseDate"></p>

         <button class="btn btn-success" ng-click="booksShowCtrl.editBook(booksShowCtrl.book); editing =false" ng-show="editing">save</button>

       </div>
   </div>
